.footer{
    padding: 20px;
    border-top: 1px solid #cccccc; ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-block-start: 20px;
}

.footer__logo{
    inline-size: 150px;
}