<header class="header">
    <nav class="header__menu">
        <ul class="header__list">
            <li class="header__item"><a href="" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}" class="header__link">Главная</a></li>
            <li class="header__item"><a href="" routerLinkActive="active" routerLink="news" class="header__link">Новости</a></li>
            <li class="header__item"><a href="" routerLinkActive="active" routerLink="contact" class="header__link">Контакты</a></li>
            <li class="header__item"><a href="" routerLinkActive="active" routerLink="graph" class="header__link">Расписание</a></li>
        </ul>
    </nav>
</header>
